.article-wrap {
    border: 1px solid #999;


    .article-item {
        width: 80%;
        margin: 1rem auto 4rem;
        border: 1px solid #999;

        .article-title {
            margin: 2rem 0 1rem;
            font-size: 1.8rem;
            text-align: center;
            padding: .2em;
        }

        .info-box {
            margin: .2rem auto 0;
            display: flex;
            width: 60%;
            ;
            justify-content: space-evenly;

            .info-item {
                color: #999;
                font-size: .8rem;
                text-align: center;
                margin-right: 1rem;

                img {
                    vertical-align: middle;
                    width: .8rem;
                    height: .8rem;
                    margin-right: .2rem;
                }
            }
        }
        .img-box{
            width: 80%;
            margin: 2rem auto 0;
            img{
                width: 100%;
            }
        }
        .articlecontent{
            margin-top: 1rem;
            padding: 1em 3em;
            h3{
                display:block;
                height: 3rem;
                line-height: 3rem;
                font-size: 1.6rem;
                font-weight: 500;
                margin: 1rem 0;
            }
            h4{
                display:block;
                height: 2rem;
                line-height: 2rem;
                font-size: 1.4rem;
                font-weight: 400;
                margin: 1rem 0;
            }
            p{ 
                margin: 1rem 0;
                font-size: 1.2rem;
                

            }
        }
        .jump{
            box-sizing: border-box;
            width: 5em;
            height: 3em;
            text-align: center;
            line-height: 3em;
            border: 1px solid black;
            margin: 1em auto;
            cursor: pointer;
        }
        .praise{
            box-sizing: border-box;
            width: 5em;
            height: 3em;
            text-align: center;
            line-height: 3em;
            border: 1px solid black;
            margin: 1em auto;
            cursor: pointer;
        }
    }
}